// =========================================================
// * Volt React Dashboard
// =========================================================

// * Product Page: https://themesberg.com/product/dashboard/volt-react
// * Copyright 2021 Themesberg (https://www.themesberg.com)
// * Official Repository: https://github.com/themesberg/volt-react-dashboard
// * License: MIT License (https://themesberg.com/licensing)

// * Designed and coded by https://themesberg.com

// =========================================================

// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. Please contact us to request a removal.

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800&display=swap');

// Bootstrap mixins and functions
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/functions";

// Change variables here
@import "volt/variables";

// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Vendor
@import "volt/vendor";

// volt mixins & functions
@import "volt/mixins";
@import "volt/functions";

// Utilities
@import "volt/reboot";
@import "volt/utilities";

// Layout
@import "volt/layout";

// Components
@import "volt/components";

// write your custom styles here!

.totalPrice{
    display: flex;
    height: 120px;
    width: calc(100% - 260px);
    position: fixed;
    bottom: 0;
    right: 0;
    box-shadow: -1px 0px 15px #ded2ca ;
    background-color: #fff;
    z-index: 9;
    &__item{
        width: 25%;
        border-right: 1px solid rgb(37, 22, 22);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
        &:nth-last-child(1){
            border-right: none;
            padding-left: 10px;
            .btn{
                background-color: rgb(44, 4, 4);
                padding: 5px 8px;
                border-radius: 4px;
                color: #fff;
                cursor: pointer;
            }
        }
    }
}

.order__detail{
    table{
        width: 100%;
        background-color: #fff;
    }
    table, th, td {
        border: 1px solid;
    }
    th,td{
        padding-left: 10px;
    }
}